<mat-toolbar 
    class="nav-bar"
    [class.extended]="extend"
    [class.simple]="!extend">
    @for (link of pageLinks; track $index) {
        <app-navigation-bar-item 
            [extend]="extend" 
            [page]="link"
            [onRouteChange]="onRouteChange()">
        </app-navigation-bar-item>
        @if ($index < pageLinks.length - 1) {
            <mat-divider 
                class="nav-bar-item-divider" 
                [vertical]="true">
            </mat-divider>
        }
    }
</mat-toolbar>