.nav-bar-item-divider {
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 20%;
}

.nav-bar {
    display: flex;
    padding-left: 10px;
}

.nav-bar.simple {
    height: 5vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: left;
}

.nav-bar.extended {
    height: 10vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
}