.nav-bar {
    height: 10vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-bar-item-divider {
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
}