.form {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.mat-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 99%;
    align-self: center;
    border-top-color: var(--mat-sys-surface-bright);
}

.contact-card {
    margin: 10px;
    
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.contact-image {
    grid-area: 1/1/2/2;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
}

.message-text {
    height: 100%;
}