@use '@angular/material' as mat;

.page-title {
    font-size: x-large;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.page-title-underline {
    margin-top: 2px;
    width: 0px;
    justify-self: center;
}

.page-title-underline.active {
    width: 80%;
    @include mat.divider-overrides((
        color: var(--mat-sys-inverse-on-surface)
    ));
}

.page-title.active {
    color: var(--mat-sys-inverse-on-surface);
    cursor: default;
}