<div 
    class="navigation-item-grid"
    [class.extend]="extend"
    [class.simple]="!extend"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">
    <app-page-icon
        class="page-icon" 
        [extend]="extend" 
        [pageIcon]="page?.icon ?? ''"
        [isActive]="pageIsActive">
    </app-page-icon>
    <app-page-title 
        class="page-title" 
        [extend]="extend" 
        [pageTitle]="page?.title?.toString() ?? ''"
        [pagePath]="page?.path ?? ''"
        [isActive]="pageIsActive">
    </app-page-title>

    @if(extend) {
        <app-page-description 
            [class.description]="extend"
            [pageDescription]="page?.description ?? ''">
        </app-page-description>
    }
</div>
