<div [class]="{'navigation-item-extended-grid': extend, 'navigation-item-grid': !extend, 'grid-height': true }">
    <app-page-icon
        class="page-icon" 
        [extend]="extend" 
        [pageIcon]="page.icon">
    </app-page-icon>
    <app-page-title 
        class="page-title" 
        [extend]="extend" 
        [pageTitle]="page.title"
        [pagePath]="page.path">
    </app-page-title>

    @if(extend) {
        <app-page-description 
            class="page-description"
            [pageDescription]="page.description">
        </app-page-description>
    }
</div>
