.page-icon.extend {
    font-size: 45px;
    overflow: unset;
}

.page-icon.simple {
    font-size: 25px;
    padding-right: 5px;
}

.page-icon.active {
    color: var(--mat-sys-inverse-on-surface);
}