
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "./theme-colors.scss" as theme-colors;

html {

  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: Playfair Display,
    density: 0,
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));

  @include mat.divider-overrides((
    color: var(--mat-sys-on-surface)
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 
  Playfair Display, "Helvetica Neue", sans-serif;

  @include mat.card-overrides((
    outlined-outline-color: var(--mat-sys-surface-bright),
    outlined-container-color: var(--mat-sys-surface-container-lowest)
  ));
}

.custom-tab-header {
  margin-top: 20px;

  @include mat.tabs-overrides((
        divider-height: 0px,
        active-indicator-height: 48px,
        active-indicator-shape: 100px,
        active-hover-indicator-color: rgba(0,0,0,0),
        active-indicator-color: var(--mat-sys-on-primary),
        active-ripple-color: rgb(255,162,57),
        inactive-ripple-color: rgb(255,162,57)
  ));
  
  .mat-mdc-tab-header{
    height:70px;
    align-items: center;
    margin-top: 10px;
  }

  .mat-mdc-tab-label-container {
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
  }

  .mat-mdc-tab-list {
    flex-grow: 1;
  }

  .mat-mdc-tab-labels {
    width: 80vw;
    place-self: center;
    background-color: var(--mat-sys-primary-container);
    border-radius: 100px;
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 5px;
    border-style: solid;
    border-width: 2px;
    outline-color: var(--mat-sys-surface-bright);
    border-color: var(--mat-sys-surface-bright);
  }

  .mat-mdc-tab .mdc-tab__ripple::before{
    border-radius: 100px;
  }

  .mat-mdc-tab:hover .mdc-tab__ripple::before{
    opacity: .2;
  }

  .mdc-tab--active {
      font-size: var(--mat-sys-title-medium-size);
  }

  .mdc-tab-indicator__content--underline {
    box-shadow: inset 0px 0px 5px 0px rgba(255,162,57,1), inset 0px 0px 20px 5px rgba(255,162,57,.4);
    align-self: unset !important;
    box-sizing: unset;
    border-top-style: unset;
  }
}

.blog-post {
  @include mat.card-overrides((
    title-text-line-height: 1
  ));

  .mat-mdc-card-header {
    padding: 10px 10px 0px;
  }

  .mat-divider {
    width: 99%;
    align-self: center;
    border-top-color: var(--mat-sys-surface-bright);
  }
}

.page-divider {
  @include mat.divider-overrides((
    color: var(--mat-sys-surface-bright)
  ))
}