.blog-post-container {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.subtitle-text {
    margin-left: 20px;
    margin-top: 20px;
}

.page-divider {
    width: 98%;
    justify-self: center;
}