.divider-label {
    font-size: 12px;
    line-height: 0;
    margin: 10px;
    padding-top: 20px;
    opacity: 50%;
}

.mat-divider {
    width: 98%;
    margin: 10px;
    margin-bottom: 20px;
    opacity: 50%;
}